/* .grid {
    width: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: greenyellow;
}

.grid div{
    height: 50px;
    width: 50px;
    border-style: groove;

} */

.food {
    background-color: red;
}

.snake {
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: greenyellow;
}

.grid div{
    padding: 20px;
    border-style: groove;
}