.square {
    width: 65px;
    height: 65px;
    background-color: greenyellow;
}

.food {
    background-color: goldenrod;
}

.snakeTail {
    background-color: gray;
}

.snake {
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 650px;
    height: 650px;
}

.grid div{
    border-style: groove;
    border-color: lightgreen;
    border-width: 1px;
}