.square {
    width: 65px;
    height: 65px;
    background-color: greenyellow;
}

.little-hoop {
    background-image: url('images/littleHoop.png');
    background-size: cover;
}

.tall-hoop {
    background-image: url('images/tallHoop.png');
    background-size: cover;
}

.medium-hoop {
    background-image: url('images/mediumHoop.png');
    background-size: cover;
}

.food {
    background-image: url('images/snitch.png');
    background-size: cover;
    background-color: goldenrod;
}

.snake-right {
    background-image: url('images/viper.png');
    background-size: cover;
    background-color: black;
}
.snake-left {
    background-image: url('images/viper.png');
    background-size: cover;
    background-color: black;
    transform: scaleX(-1);
}
.snake-up {
    background-image: url('images/viper.png');
    background-size: cover;
    background-color: black;
    transform: rotate(270deg);
}
.snake-down {
    background-image: url('images/viper.png');
    background-size: cover;
    background-color: black;
    transform: rotate(90deg);
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 650px;
    height: 650px;
}

.square {
    border-style: groove;
    border-color: lightgreen;
    border-width: 1px;
}

.snakeTail {
    background-color: #505050;
    border-color: #A8CE3A;
}

.keeper-zone {
    border-bottom-color: black;
}

.mid-line {
    border-bottom-color: black;
}